html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.transparent-border{
  border: 2px solid transparent !important;
}

.selected-option {
  background:#eee;
  border: 2px solid black !important;
}

.cell {
  background: #FCFAF9;
  border: 1px solid #48E5C2;
  border-radius: 2px;
  float: left;
  line-height: 32px;
  height: 32px;
  text-align: center;
  width: 32px;
  cursor: pointer;
  color: #333333;
  font-weight: 600;
  user-select: none;
}

.large-cell {
  background: #FCFAF9;
  border: 1px solid #48E5C2;
  border-radius: 2px;
  float: left;
  line-height: 32px;
  height: 32px;
  text-align: center;
  width: 32px;
  cursor: pointer;
  color: #333333;
  font-weight: 600;
  user-select: none;
}

.virus-background {
  background-image: url("/virus.png") !important;
}

.sick-background {
  background-image: url("/sick.png") !important;
}